@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Fasthand', cursive;
    background-color:#000;
    color: #FFF0F5;
}

header{
    height: 90px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    
}

nav{
    width: 60%;
}

ul{
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: space-between;

}

.nav{
    cursor:pointer;
    transition:1s;

}

.nav:hover{
    color:rgb(204, 0, 0);
}


#logo{
    width: 110px;
    height: 50px;
}

#banner{
background-image: url(imagens/banner-3.jpg);
background-size: cover;
width:45%;
height:400px;
background-repeat: no-repeat;

}

.container-details{
display:flex;

}

.details{
    height:400px;
}

.items{
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    position: relative;
    left:70px;
}


.information{
    font-size:30px;
    padding-left: 10px;
    width:500px;
    height: 50px;
    background-color: #cc0000;
    border-radius: 10px;

}

#container-TS{
    display: flex;
    justify-content: space-between;
}

video{
    width: 45%;
    height:390px;
}

#description{
    width: 50%;
    height:390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

#synopsis{
    width:100%;
    font-size: 32px;
}

button{
    width:250px;
    height:70px;
    font-size:30px;
    background-color:#FFF0F5;
    color: #000;
    border:none;
    cursor:pointer;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    position:relative;
    top:10px;
    transition:1s;
    font-weight:bold;

}

button:hover{
    background-color:#cc0000;
    color:#FFF0F5;
    transform: scale(1.1);
}

#container-cards{
    height:700px;
}

#cards-actor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
}

.actor{
    height:600px;
    color: #FFF0F5;
    font-size:25px;
    font-weight:bold;
    padding-left: 15px;
    border-radius:20px;
    display: flex;
    flex-direction:column-reverse;
    transition: 1s;
}

.actor:hover{
    color:#cc0000;
    transform: scale(1.02);
}

.Wilfred{
    background-image:url(imagens/Wilfred-home.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50% 50%;

}

.Henry{
    background-image:url(imagens/Henry-home.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 30% 30%;
}

.Arlette{
    background-image:url(imagens/Arlette-home.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 20% 20%;
}

footer{
    height:200px;
    font-size: 25px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
}