@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Kanit', sans-serif;
    background-color:#000;
    color: #FFF0F5;
}

header{
    height: 90px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-bottom:1px solid #cc0000;
    margin-bottom:10px ;
}

nav{
    width: 60%;
}

ul{
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: space-between;

}

.nav{
    cursor:pointer;
    transition:1s;

}

.nav:hover{
    color:rgb(204, 0, 0);
}


.logo{
    width: 110px;
    height: 50px;
}

#banner{
background-image: url(imagens/banner-3.jpg);
background-size: 100% 100%;
width:44%;
height:400px;
background-repeat: no-repeat;
border-radius: 10px;

}

.container-details{
width: 100%;
height:430px;
display:flex;
justify-content: space-around;
margin-top: 30px;

}

.details{
    width: 45%;
    height:400px;

}

.items{
    height:420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.information{
    font-size:23px;
    padding-left: 10px;
    width:550px;
    height: 50px;
    border: solid 1px #FFF0F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#container-TS{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-around;
}

video{
    width: 42%;
    height:390px;
    display: flex;
}

#description{
    width: 44%;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content:center;

}

#synopsis{
    width:100%;
    font-size: 23px;
}

button{
    width:250px;
    height:70px;
    font-size:25px;
    background-color:#FFF0F5;
    color: #000;
    border:none;
    cursor:pointer;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    transition:1s;
    font-weight:bold;
}

button:hover{
    background-color:#cc0000;
    color:#FFF0F5;
    transform: scale(1.1);
}

#container-cards{
    height:700px;
}

#cards-actor{
    display: flex;
    justify-content: space-around;
}

.actor{
    width: 400px;
    height:600px;
    color: #FFF0F5;
    font-size:25px;
    font-weight:bold;
    padding-left: 15px;
    border-radius:20px;
    display: flex;
    flex-direction:column-reverse;
    transition: 1s;
}

.actor:hover{
    color:#cc0000;
    transform: scale(1.02);
}

.Wilfred{
    background-image:url(imagens/Wilfred-home.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50% 50%;

}

.Henry{
    background-image:url(imagens/Henry-home.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 30% 30%;
}

.Arlette{
    background-image:url(imagens/Arlette-home.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 20% 20%;
}

footer{
    border-top: 1px solid #cc0000;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contatos{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;
}



.icone-linkedin{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-image: url(imagens/icone-linkedin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.icone-github{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-image: url(imagens/icone-github2.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.navigation-footer{
    display: none;
}

@media(max-width:1080px){
    .navigation-header{
        display: none;
    }
    .navigation-footer{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .container-details{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        width:100%;
        height: 100%;
    }
    #banner{
        background-image:url(imagens/banner-3.jpg);
        width:90%;
        height:1005;
        background-size:100% 100%;
    }
    .details{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .items{
        width: 95%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    .information{
        width:95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container-TS{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:20px;
    }
    video{
        width: 95%;
        height: 100%;
    }
    #description{
        width:95%;
        height:100%;
        display: flex;
        justify-content: space-around;
        align-items: center;        
    }
    button{
        width: 100% ;
        height: 50px;
    }
    #container-cards{
        width: 100%;
        height: 1900px;
    }
    #cards-actor{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }
    .actor{
        width: 90%;
        display: flex;
        align-items: center;
    }
    footer{
        height: 400px;
    }
}

@media(max-width:782px){
    #banner{
        width: 95%;
        height: 1000px;
        background-image: url(imagens/banner-vertical3.png);
        background-size: 100% 100%;
        background-position: 50% 40%;
    }
}
