@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Fasthand', cursive;
    background-color: #000;
    color: #fff;
}

header{
    height: 90px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    
}

nav{
    width: 60%;
}

ul{
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: space-between;

}

li{
    cursor:pointer;
    transition:1s;

}

li:hover{
    color:rgb(204, 0, 0);
}


#logo{
    width: 110px;
    height: 50px;
}

#banner{
background-image:url(elenco/banner.jpg);
width: 100%;
height: 400px;
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}